* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
} /* The box-sizing property should be set to border-box on all elements */

body {
	background-color: #d9dcd6;
}

header {
	padding: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	background-color: #2a607c; /* The header element should have a background color of #2a607c */
	color: #ffffff; /* The header element should have a text color of #ffffff */
}
/* Clean out .header */
h1 {
	display: inline-block;
	font-size: 48px;
}

h1 .seo {
	color: #d9dcd6;
}

/* Replace .header div with nav */
nav {
	padding-top: 15px;
	margin-right: 20px;
	float: right;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 20px;
}

li {
	display: inline-block;
	margin-left: 25px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

p {
	font-size: 16px;
}

.hero {
	height: 800px;
	width: 100%;
	margin-bottom: 25px;
	background-image: url('../images/digital-marketing-meeting.jpg');
	background-size: cover;
	background-position: center;
}

.float-left {
	float: left;
	margin-right: 25px;
}

.float-right {
	float: right;
	margin-left: 25px;
}

.content {
	width: 75%;
	display: inline-block;
	margin-left: 20px;
}

.benefits {
	margin-right: 20px;
	padding: 20px;
	clear: both;
	float: right;
	width: 20%;
	height: 100%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	background-color: #2589bd;
	color: #ffffff;
}
/* Remove .benefit-lead, .benefit-brand, .benefit-cost */
.benefit {
	margin-bottom: 32px;
}

.benefit h3 {
	margin-bottom: 10px;
	text-align: center;
}

.benefit img {
	display: block;
	margin: 10px auto;
	height: 150px; /* The last three images should have a height of 150px */
}

.service {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px; /* The first three images should have a height of 200px */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	background-color: #0072bb;
	color: #ffffff;
}
/* create a class 'service' to group search-engine-optimization, online-reputation-management, social-media-marketing */
.service img {
	max-height: 200px;
}

.service h2 {
	margin-bottom: 20px;
	font-size: 36px;
}

footer {
	padding: 30px; /* The footer element should have 30px padding */
	clear: both;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	text-align: center; /* The text in the footer element should be centered */
}

h2 {
	font-size: 20px;
}
